# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual environment (VS Code)
.vscode/
env/
.venv/
venv/

# OS/Editor files
.DS_Store
Thumbs.db

# Log/Temp/Cache
*.log
*.tmp
*.swp

# Python packaging
*.egg-info/
dist/
build/

# nbconvert and output files
*.nbconvert.ipynb
